[submodule "astro"]
	path = astro
	url = https://github.com/axlain/astro.git
[submodule "django"]
	path = django
	url = https://github.com/axlain/django.git
[submodule "Next"]
	path = Next
	url = https://github.com/axlain/Next.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/axlain/Angular.git
[submodule "Express"]
	path = Express
	url = https://github.com/axlain/Express.git
[submodule "SpringBoot"]
	path = SpringBoot
	url = https://github.com/axlain/SpringBoot.git
